/*Global animation*/



/*Title animation*/
.home_title .type {
  position: absolute;
}

.type {
  color: #1A6449;
  overflow: hidden;
  white-space: nowrap;
  display:block;
  border-right: 3px solid #1A6449;
  animation: typewriter 10s steps(20) infinite, blinking-cursor 5s infinite;
  animation-fill-mode: forwards;
}

@keyframes typewriter {
  0% { 
    width:0
  }
  50% { 
    width: 80%;
  }
  100% { 
    width: 0;
  }
}

@keyframes blinking-cursor {
  from { border-color: transparent }
  to { border-color: #1A6449 }
}