.legal_link:hover,
.modal-subtitles {
  text-decoration: underline #1A6449;
}

.modal-body {
  padding: 10px;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.modal-subtitles {
  color: #1A6449;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: .1rem;
}

.modal-footer .btn {
  background: #1A6449;
}