.services {
  padding-bottom: 100px;
}

.services_text {
  padding: 20px;
  margin-bottom: 50px;
}

.services_text .fas {
  color: #1A6449;
}

.services_text_1,
.services_text_2 {
  font-weight: 600;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.services_text_2 {
  font-size: .8rem;
}

.services_box img {
  height: 15vh;
  width: 100%;
}

.services_box .bi {
  color: #1A6449;
}

.services_box img:hover {
  transform: rotate(2deg);
}

.services_box p {
  font-weight: 800;
  letter-spacing: .1rem;
  margin-bottom: 40px;
  padding-top: 1rem;
  padding-bottom: .3rem;
  text-transform: uppercase;
}

@media only screen and (min-width: 425px) {
  .services_text_1 {
    font-size: 1.5rem;
  }
  .services_text_2 {
    font-size: 1rem;
  }
  .services_box {
    padding: 0 30px 0 30px;
  }  
}

@media only screen and (min-width: 768px) {
  .services_box {
    padding: 0 50px 0 50px;
  }  
  .services_box img {
    height: 20vh;
  }
  .services_box p {
    margin-bottom: 50px;
  }
  .services_text {
    margin-bottom: 90px;
    padding: 40px;
  }
}

@media only screen and (min-width: 1024px) {
  .services_box {
    padding: 0 55px 0 55px;
  }  
  .services_box img {
    height: 28vh;
  }
  .services_box p {
    font-size: 1.2rem;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 1440px) {
  .services_box p {
    font-size: 1.5rem;
    margin-bottom: 60px;
  }
}

@media only screen and (min-width: 1880px) {
  .services_box {
    padding: 0 100px 0 100px;
  } 
  .services_box img {
    height: 30vh;
    width: 100%;
  }  
  .services_box p {
    font-size: 1.3rem;
    margin-bottom: 50px;
  }
  .services_text_1 {
    font-size: 2rem;
  }
  .services_text_2 {
    font-size: 1.5rem;
  }
}

