.services img {
  height: 15vh;
  width: 100%;
}

.services img:hover {
  transform: rotate(2deg);
}

.services p {
  background: rgb(13,27,42);
  background: linear-gradient(18deg, rgba(13,27,42,1) 0%, rgba(26,100,64,1) 50%);
  color: #fff;
  font-weight: 800;
  letter-spacing: .1rem;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-top: .7rem;
  padding-bottom: .7rem;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .services_box {
    padding: 0 50px 100px 50px;
  }  
  .services img {
    height: 20vh;
  }
  .services p {
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 1024px) {
  .services_box {
    padding: 0 60px 100px 60px;
  }  
  .services img {
    height: 30vh;
  }
  .services p {
    font-size: 1.2rem;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 1440px) {
  .services p {
    font-size: 1.5rem;
    margin-bottom: 60px;
  }
}

@media only screen and (min-width: 1880px) {
  .services_box {
    padding: 0 100px 100px 100px;
  }  
  .services p {
    font-size: 1.2rem;
    margin-bottom: 50px;
  }
}