.services {
  padding-bottom: 100px;
}
.services_text {
  background: no-repeat fixed url(../documents/images/services/desk-white.png);
  background-size: cover;
  padding: 20px;
  margin-bottom: 50px;
  width: 100%;
}

.services_text img {
  margin: 0 auto;
  margin-top: -20px;
  height: 55%;
  width: 55%;
}

.services_text_1,
.services_text_2 {
  font-weight: 600;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.services_text_2 {
  font-size: .8rem;
}

.services_box img {
  height: 10vh;
  width: 100%;
}

.services_box img:hover {
  transform: rotate(2deg);
}

.services_box p {
  font-weight: 800;
  letter-spacing: .1rem;
  margin-bottom: 30px;
  padding-top: .3rem;
  padding-bottom: .3rem;
  text-transform: uppercase;
}

@media only screen and (min-width: 425px) {
  .services_text_1 {
    font-size: 1.5rem;
  }
  .services_text_2 {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .services_box {
    padding: 0 50px 100px 50px;
  }  
  .services_box img {
    height: 20vh;
  }
  .services_box p {
    margin-bottom: 50px;
  }
  .services_text {
    margin-bottom: 90px;
    padding: 40px;
  }
}

@media only screen and (min-width: 1024px) {
  .services_box {
    padding: 0 60px 100px 60px;
  }  
  .services_box img {
    height: 25vh;
  }
  .services_box p {
    font-size: 1.2rem;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 1440px) {
  .services_box p {
    font-size: 1.5rem;
    margin-bottom: 60px;
  }
}

@media only screen and (min-width: 1880px) {
  .services_box {
    padding: 0 100px 100px 100px;
  }  
  .services_box p {
    font-size: 1.2rem;
    margin-bottom: 50px;
  }
  .services_text_1 {
    font-size: 2rem;
  }
  .services_text_2 {
    font-size: 1.5rem;
  }
}

