.skills_subtitle {
  margin: 30px auto;
  width: 100%;
}

.skills_img {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.skills_img img {
  width: 100%;
}

.card {
  width: 120px;
  height: 150px;
  background: #fff;
  border-top-right-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 14px 26px rgba(0,0,0,0.04);
  transition: all 0.3s ease-out;
  margin: 10px auto;
  z-index: 0;
}

.circle {
  width: 90px;
  height: 90px;
  top: 15px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.overlay {
  width: 90px;
  position: absolute; 
  height: 90px;
  border-radius: 50%;
  background: var(--bg-color);
  top: 11px;
  left: 11px;
  z-index: 0;
  transition: transform 0.3s ease-out;
}

.card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
}

.card:hover .overlay {
  transform: scale(4) translateZ(0);
}

.card:active {
  transform: scale(1) translateZ(0);
}

.card p {
  color: black;
  font-size: 1rem;
  letter-spacing: .1rem;
  margin-top: 30px;
  transition: color 0.3s ease-out;
  z-index: 1000;
}

.vertical {
  display: none;
}

.html {
  --bg-color: #e54c21;
}
.css {
  --bg-color: #264de4;
}
.javascript {
  --bg-color: #e29630;
}
.react {
  --bg-color: #61dbfb;
}
.php {
  --bg-color: #787cb4;
}
.wordpress {
  --bg-color: #016087;
}
.laravel {
  --bg-color: #fd3a2d;
}
.bootstrap {
  --bg-color: #593688;
}
.vscode {
  --bg-color: #2c83ba;
}
.ubuntu {
  --bg-color: #de4815;
}
.github {
  --bg-color: #4e4e50;
}
.git {
  --bg-color: #f25134;
}
.trello {
  --bg-color: #0079bf;
}
.figma {
  --bg-color: #ff7262;
}
.shopify {
  --bg-color: #95bf47;
}
.mysql {
  --bg-color: #00618a;
}
.filezilla {
  --bg-color: #b80000;
}

@media only screen and (min-width: 768px) {
  .skills_img {
    display: flex;
    flex-wrap: wrap;
  }  
  .card {
    margin: 10px;
  }  
}

@media only screen and (min-width: 0) and (max-width: 1023px) {
  .none {
    display: none;
  }
  .skills_top {
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 1024px) {
  .card {
    margin: auto;
    margin: 15px;
  }
  .skills_img {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
  } 
  .skills_box {
    display: flex;
  }
  .skills_subtitle {
    width: 100%;
  }
  .none {
    visibility: hidden;
  }
  .vertical {
    display: inherit;
  }
  .vertical {
    border: 2px solid #1A6449;
    height: 80%;
    margin: 50% 35px 0 35px;
  }
}

@media only screen and (min-width: 1440px) {
  .card {
    margin: 0 auto;
    margin: 10px;
  }
  .skills_img {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin: 50px;
  } 
  .vertical {
    display: inherit;
  }
  .vertical {
    border: solid #1A6449;
    height: 80%;
    margin: 50% 20px 0 20px;
  }
}

@media only screen and (min-width: 1440px) {
  .card {
    margin: 0 auto;
    margin-bottom: 20px;
    margin: 20px;
  }
  .skills_img {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-left: 80px;
    margin-right: 80px;
    width: 50%;
  }
  .vertical {
    display: inherit;
  }
  .vertical {
    border: solid #1A6449;
    height: 90%;
    margin: 50% 20px 0 20px;
    width: 1px;
  }
  .card {
    width: 150px;
    height: 180px;
    margin: 10px auto;
  }
  .overlay {
    top: 25px;
    left: 25px;
  }
  .skills_subtitle h4 {
    font-size: 1.5rem;
  }
  .card p {
    font-size: 1.3rem;
  }
}